.Auth {
margin: 20px auto;
width: 80%;
text-align: center;
box-shadow: 0 2px 3px #ccc;
border: 1px solid #eee;
padding: 10px;
box-sizing: border-box;
margin-top: 60px;
}
.login{
    margin-right: 390px;
}



.Button {
    background-color: #0081C9;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    width: 460px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}